{% extends 'expenses/base.html' %}
{% block content %}
<div class="container">
    <div class="header-container">
        <h2>All Expenses</h2>
        <a href="{% url 'add_expense' %}" class="btn-create">+</a>
    </div>
    <div class="mb-3">
        <form method="get">
            <select name="category" class="form-select" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Amount ({{ user.profile.preferred_currency }})</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.category.name|default:"Uncategorized" }}</td>
                <td>{{ expense.date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No expenses found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}